<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Humor</title>
    <link rel="stylesheet" href="./../static/style.css?a=a">
</head>
<body>
   
    <div  id="humor">
        
        <div class="flip">
        
            <div class="front"> 

                <h4><b> Nome :</b>{{nome}}</h4>
                <h4>Humor ;{{bemhumorado}}</h4>
                <img src="{{imagem1}}" alt="" width="300px" height="300px"></div>
            
                <div class="back">

                <h4>Nome: {{nome}}</h4>
                <h4>Humor:{{mauhumorado}}</h4>
                <img src="{{imagem2}}" alt="" width="300px" height="300px">
            </div>
            

        </div>
    
</body>
</html>